username: "your username"
api_key: "your api key"
auth_method: "password"
auth_url: "http://your_openstack_api_host:5000/v2.0/"
authtenant_name: "your tenant name"
service_type: "compute"
service_host: "your_openstack_api_host"
service_scheme: "http"
